html,body {
	background-image: url(https://s3.amazonaws.com/ArchiveImages/SLJ/2014/09/cover-curiosity-under-the-sea.gif);
	background-position:center;
  background-size: 100%;
	background-attachment: fixed;
	background-repeat: fixed;
	margin-left: auto;
	margin-right: auto;
 
}
